body {
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic",
    メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
  font-size: calc((100vw - 320px) / 140 + 12px);
}
.title {
  font-size: 2rem;
  padding: 0.5rem 0;
}

.block {
  padding: 0 1rem;
}

.section {
  margin: 0.5rem;
}
.textarea {
  border: solid 1px #ccc;
  height: 100vh;
  width: 99vw;
  margin: 0.5vh 0.5vw;
}
